src/META-INF/wsdl/localhost_8080/calc/calc.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://pack/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://pack/" name="calc">
<types>
<xsd:schema>
<xsd:import namespace="http://pack/" schemaLocation="http://localhost:8080/calc/calc?xsd=1"/>
</xsd:schema>
</types>
<message name="mult">
<part name="parameters" element="tns:mult"/>
</message>
<message name="multResponse">
<part name="parameters" element="tns:multResponse"/>
</message>
<message name="div">
<part name="parameters" element="tns:div"/>
</message>
<message name="divResponse">
<part name="parameters" element="tns:divResponse"/>
</message>
<message name="raiz">
<part name="parameters" element="tns:raiz"/>
</message>
<message name="raizResponse">
<part name="parameters" element="tns:raizResponse"/>
</message>
<message name="sum">
<part name="parameters" element="tns:sum"/>
</message>
<message name="sumResponse">
<part name="parameters" element="tns:sumResponse"/>
</message>
<message name="rest">
<part name="parameters" element="tns:rest"/>
</message>
<message name="restResponse">
<part name="parameters" element="tns:restResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="calc">
<operation name="mult">
<input wsam:Action="http://pack/calc/multRequest" message="tns:mult"/>
<output wsam:Action="http://pack/calc/multResponse" message="tns:multResponse"/>
</operation>
<operation name="div">
<input wsam:Action="http://pack/calc/divRequest" message="tns:div"/>
<output wsam:Action="http://pack/calc/divResponse" message="tns:divResponse"/>
</operation>
<operation name="raiz">
<input wsam:Action="http://pack/calc/raizRequest" message="tns:raiz"/>
<output wsam:Action="http://pack/calc/raizResponse" message="tns:raizResponse"/>
</operation>
<operation name="sum">
<input wsam:Action="http://pack/calc/sumRequest" message="tns:sum"/>
<output wsam:Action="http://pack/calc/sumResponse" message="tns:sumResponse"/>
</operation>
<operation name="rest">
<input wsam:Action="http://pack/calc/restRequest" message="tns:rest"/>
<output wsam:Action="http://pack/calc/restResponse" message="tns:restResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://pack/calc/helloRequest" message="tns:hello"/>
<output wsam:Action="http://pack/calc/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="calcPortBinding" type="tns:calc">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="mult">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="div">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="raiz">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sum">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="rest">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="calc">
<port name="calcPort" binding="tns:calcPortBinding">
<soap:address location="http://localhost:8080/calc/calc"/>
</port>
</service>
</definitions>